* {
    box-sizing: border-box;
}

#app {
    max-width: 300px;
    background: #2196F3;
    margin: 0px auto;
    text-align: center;
    padding: 50px 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-box {
    width: 240px;
    display: inline-block;
    margin: 50px auto 0px;
    padding: 0px;
}

.mode-panel,
.sign-panel {
    font-size: 0px;
}

hr {
    margin: 0px;
    color: white;
    height: 0px;
    border: none;
    border-bottom: 1px solid white;
}

label {
    display: inline-block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}

label.selected {
    background: #2089dd;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.grid-item {
    float: left;
    width: 33.333%;
    font-size: 50px;
    height: 80px;
    line-height: 80px;
    border: 1px solid white;
    margin: 0px;
    text-align: center;
}